
<div class="row">
    <h1>Image Search</h1>
    <p class="lead">Please input your query in the search box.</p>
        <h2>Search Box</h2>
        <form action="GET: -- do magic with Bing here">
            Term: <input type="text" name="bingquery"><br /><br />
            <input type="submit" value="Search">
        </form> 

</div>
