body {
    padding-top: 50px;
    padding-bottom: 20px;
    max-width: 100%;
    overflow-x: hidden;
}

#settings {
    vertical-align:bottom;
}
.dayofweek {
    text-align: center;
    width: 100px;
    margin: 1px;
    padding: 10px;
}

#content {
}

#calendar {
}

.tile {
    height: 90px;
    width: 90px;
    background-color:antiquewhite;
}

/*Snapping Css*/
#grid-snap {
    width: 40%;
    background-color: #29e;
    color: #fff;
    font-size: 1.2em;
    border-radius: 4px;
    padding: 2%;
    margin: 5%;
}
/*Drag and Drop CSS*/

#target-dropzone {
    /*height: 80px;*/
}

.dropzone {
    background-color: #ccc;
    border: dashed 4px transparent;
    border-radius: 4px;
    margin: 1px;
    padding: 10px;
    transition: background-color 0.3s;
}

#dropzone-outer {
    height: 100px;
    width: 100px;
}

.drop-active {
    border-color: #aaa;
}

.drop-target {
    background-color: #29e;
    border-color: #fff;
    border-style: solid;
}

.drag-drop {
    display: inline-block;
    padding: 2em 0.5em;
    color: #fff;
    background-color: #29e;
    border: solid 2px #fff;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    transition: background-color 0.3s;
}

.drag-drop.can-drop {
    color: #000;
    background-color: #4e4;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
