
@{

    ViewData["Title"] = "Home Page";
    var tiles = new List<Tile>();
    //tiles.Add(new Tile("http://pixieknits.bloggnorge.com/files/2015/02/cookie-monster.jpg", "a description"));
    //ViewBag.todaytiles = tiles;
    ViewBag.UserName = "Bill Berry";
}


<div class="container" >
    <div class="row">
        <div class="col-lg-3"><h1>@(ViewBag.UserName)</h1></div>
        <div class="col-lg-6"> </div>
        <div id="settings" class="col-lg-3 align-self-end">Settings</div>
    </div>
    <div id="content" class="row">
        <div id="calendar" class="col-lg-8">
            <div class="container">
                <div class="row">
                    @foreach(var day in Enum.GetValues(typeof(DayOfWeek))){
                        <div class="col-lg-1 dayofweek ">@day</div>
                     }
                </div>
                @foreach(var i in Enumerable.Range(0, 3)){
                    <div class="row">
                        @foreach(var x in Enumerable.Range(0, 7))
                        {
                            <div id="dropzone-outer" class="dropzone col-sm-1 schtarget">
                                &nbsp;
                            </div>
                        }
                    </div>

                }
            </div>
        </div>
        <div class="col-lg-4">
            <div class="container">
                <div class="row">
                    <div id="tile_holder" class="col-md-4">
                        <h4>Activities</h4>
                    </div>
                </div>
                <div class="row">
                    <div id="tile_holder" class="col-lg-4">
                        @foreach (var tile in ViewBag.todaytiles)
                        {
                            <div class="tile draggable drag-drop grid-snap">
                                <img src="@(tile.ImgUrl)" />
                                <p>@tile.Description</p>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>