
@{

    ViewData["Title"] = "Home Page";
    var tiles = new List<Tile>();
    tiles.Add(new Tile("http://pixieknits.bloggnorge.com/files/2015/02/cookie-monster.jpg", "a description"));
    ViewBag.todaytiles = tiles;
    ViewBag.UserName = "Bill Berry";
}


<div class="container" >
    <div class="row">
        <div class="col-lg-3"><h1>@(ViewBag.UserName)</h1></div>
        <div class="col-lg-6"> </div>
        <div id="settings" class="col-lg-3 align-self-end">Settings</div>
    </div>
    <div id="content" class="row">
        <div id="calendar" class="col-lg-10">
            <div class="container">
                <div class="row">
                    @foreach(var day in Enum.GetValues(typeof(DayOfWeek))){
                        <div class="col-lg-1 dayofweek">@day</div>
                     }
                </div>
                @foreach(var i in Enumerable.Range(0, 3)){
                    <div class="row">
                        @foreach(var x in Enumerable.Range(0, 7))
                        {
                            <div id="dropzone-outer" class="dropzone col-sm-1  schtarget">
                                &nbsp;
                            </div>
                        }
                    </div>

                }
            </div>
        </div>
        <div id="tile_holder" class="col-lg-4">
            <div style="height:100px; width:100px; background-color:aquamarine;" class="draggable drag-drop grid-snap">foo</div>
        </div>
    </div>
</div>